useDynLib(ghyp,.registration = TRUE)
import(graphics, stats, methods, numDeriv)
import(MASS)
import("grDevices")
export(ghyp, VG, NIG, student.t, hyp, gauss)
export(ghyp.ad, VG.ad, NIG.ad, student.t.ad, hyp.ad)
export(dghyp, pghyp, qghyp, rghyp, qqghyp)
export(ESghyp, ghyp.omega,  ESghyp.attribution)
export(ghyp.moment)
export(ghyp.dim, ghyp.fit.info, ghyp.data, ghyp.name)
export(portfolio.optimize)
export(dgig, Egig, ESgig, qgig, rgig, pgig)
export(fit.ghypuv, fit.hypuv, fit.tuv, fit.NIGuv, fit.VGuv, fit.gaussuv)
export(fit.ghypmv, fit.hypmv, fit.tmv, fit.NIGmv, fit.VGmv, fit.gaussmv)
export(stepAIC.ghyp, lik.ratio.test)
export(ghyp.skewness, ghyp.kurtosis)
exportClasses("ghyp")
exportClasses("mle.ghyp")
exportClasses("ghyp.attribution")
exportMethods("hist")
exportMethods("pairs")
exportMethods("show")
exportMethods("mean")
exportMethods("vcov")
exportMethods("logLik")
exportMethods("AIC")
exportMethods("coef")
exportMethods("coefficients")
exportMethods("summary")
exportMethods("scale")
exportMethods("plot")
exportMethods("lines")
exportMethods("contribution")
exportMethods("sensitivity")
exportMethods("weights")
S3method("[", ghyp)
exportMethods("transform")
